.work-container{
    height: 100%;
    width: 40%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.work-flexible { 
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  clear: both;
  padding-top: max(7vh, 80px);
  padding-left: 0%;
}

.work-title{
    white-space: nowrap;
    color: rgb(75, 95, 112);
    width: fit-content;
    margin: 1%;
}

.work-square {
    margin: 4%;
    padding: 2%;
    align-items: left;
    align-content: left;
    border-radius: 20px;
    font-family: ABCFavorit;
    background-color: rgb(223, 206, 206);
    height: fit-content;
    width: auto;
    color: #070808;
    border: 1px solid rgb(75, 95, 112);
    box-shadow: 0px 0px 3px rgb(75, 95, 112); 
}

.work-button {
    margin: 1%;
    padding: 3%;
    width: fit-content;
    height: 10%;
    font-size: large;
    border-radius: 10px;
    font-family: inherit;
    border: 0px;
}

.timer-text {
    font-size: calc(70px + 2vmin);
    margin: 0%;
}

.minutes-input {
    background-color: rgb(230, 233, 233);
    margin: 2%;
    margin-bottom: 2%;
    width: 70%;
    min-width: fit-content;
    height: 5%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 2px solid #eee;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    flex-grow: 1;
}

.minutes-title{
    font-size: 20px;
    margin-right: 0.5rem;
}

.input-container {
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}




