.login-back {
    background-color: rgb(244, 255, 240);
    font-family: ABCFavorit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    min-width: 100vh;
    font-size: calc(10px + 1vmin);
    color: white;
  
}

.Login-Form {
    text-align: left;
    height: 40vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-Form input {
    background-color: rgb(230, 233, 233);
    margin: 2%;
    margin-bottom: 2%;
    width: 80%;
    min-width: fit-content;
    height: 5%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border: 2px solid #eee;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
}

.Login-Form label {
    margin: 2%;
    margin-bottom: 2%;
    width: 80%;
    height: 5%;
    font-family: inherit;
    font-size: 20px;
}

.Login-Form button {
    
    margin: 1%;
    width: 80%;
    height: 10%;
    font-size: large;
    border-radius: 10px;
    font-family: inherit;
    border: 0px;
}

.login-sqaure {
    margin: 0%;
    margin-bottom: 0%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: ABCFavorit;
    background-color: rgb(223, 206, 206);
    height: fit-content;
    width: 20%;
    color: #070808;
}

.title {
    font-family: StudioFeixen;
    justify-content: center;
    align-items: center;
    text-justify: center;
}

@font-face {
    font-family: StudioFeixen;
    src: url('../Fonts/StudioFeixenSansEdgyTrial-Regular.ttf') format("opentype");
}